/* Shrimp Paste styles */

* {
	box-sizing: border-box;
}

.ShrimpPasteViewport {
	position: relative;
	width: 100%;
}

.ShrimpPasteWrap {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ShrimpPaste-item {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #eee;
	text-align: center;
}

.ShrimpPaste.is-active .ShrimpPasteWrap {
	transition: transform .24s ease-out;
}

.ShrimpPaste.is-active .ShrimpPasteViewport {
	overflow: hidden;
}

.ShrimpPaste.is-active .ShrimpPaste-item {
	float: left;
}
