/* Shrimp Paste styles */

.shrimppaste {
	position: fixed;
	top: 50%;
	left: 50%;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	transform: translateY(-100%) translateX(-50%);
	opacity: 0;
	z-index: -1;
	transition: transform .16s ease-out, opacity .24s ease-out;
}

.shrimppaste.is-visible {
	opacity: 1;
	transform: translateY(-50%) translateX(-50%);
	z-index: 1000;
}

.shrimppaste.is-hiding {
	opacity: 0;
	transform: translateY(-100%) translateX(-50%);
	z-index: 1000;
}

.shrimppaste-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: -1;
	opacity: 0;
	transition: opacity .24s ease-out;
}

.shrimppaste-backdrop.is-visible {
	opacity: 1;
	z-index: $z-index-backdrop;
}

.shrimppaste-backdrop.is-hiding {
	opacity: 0; // Backdrop is removed by JS after hiding
	z-index: $z-index-backdrop;
}
